.box-shadow {
  -webkit-box-shadow: -3px 5px 5px -3px rgb(0 0 0 / 64%);
  box-shadow: -3px 5px 5px -3px rgb(0 0 0 / 64%);
}

.gradient-header {
  height: 10vh;
  position: absolute;
  width: 68vw;
  background: linear-gradient(180deg, rgba(255,255,255,1) 50%, rgba(0,212,255,0) 100%);
  z-index: 1;
}

.main-div {
  height: 85vh; 
  width: 70vw;
}

@media screen and (max-width: 600px) {
  .main-div {
    height: 100vh; 
    width: 100vw;
  }

  .gradient-header {
    width: 98vw;
  }
}

/* new item*/

.bottom-container {
  min-height: 15%;
  background-color: #eff2f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  display: block;
  min-width: 99%;
  max-width: 99%;
  max-height: 4.5vh;
  min-height: 3vh;
  background-color: #ffffff;
  border: 1px solid #dee4ed;
  border-radius: 4px;
  padding-left: 10px;
  padding-top: 10px;
}

@media screen and (max-height: 700px) {
  .input {
    min-width: 95%;
    max-width: 95%;
    max-height: 4vh;
    min-height: 4vh;
  }
}

.input:focus {
  outline: none !important;
}

.button {
  color: white;
  background-color: #d3135a;
  border: 0;
  border-radius: 4px;
  padding: 1vh;
  padding-right: 1.5vh;
  padding-left: 1.5vh;
}

.input-container {
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 95%;
  display: flex;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 50%;
  width: 95%;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

/*list renderer*/

.list-renderer {
  height: 85%;
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

/* note item */

.user-pic {
  border-radius: 3rem;
  height: 6vh;
  width: 6vh;
  margin: 1vh;
  margin-top: 4vh;
  object-fit: cover;
}

.note-info {
  min-height: 15vh;
  width: 93%;
  margin: 1vw;
}

.note-info-post {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 5vh;
  justify-content: space-between;
  align-items: center
}

@media screen and (max-width: 600px) {
  .note-info-post {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    align-items: center
  }

  .note-info-name {
    margin-bottom: 0rem;
  }
}

.note-info-text {
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-right: 6vh;
  padding-left: 5vh;
  align-items: center;
}

.note-info-text[datatype='others'] {
  background-color: #eff2f7;
  margin-left: 1vw;
}

.note-info-text[datatype='mine'] {
  background-color: #c2cddd;
  margin-right: 1vw;
}

.note-info-name {
  color: #2c3137; 
  font-size: 2vh;
  font-weight: bold;
}

.note-info-date {
  color: #9ba6b6;
  font-size: 1.5vh;
}

.note-container {
  display: flex;
  flex-direction: row;
}

.note-container[datatype="others"] {
  justify-content: flex-start;
}

.note-container[datatype="mine"] {
  justify-content: flex-end;
}

.note-item {
  height: auto;
  width: 75%;
  display: flex;
  margin-right: 1vw;
  margin-left: 1vw;
}

.note-item[datatype="others"] {
  flex-direction: row;
}

.note-item[datatype="mine"] {
  flex-direction: row-reverse;
}

.hide-content {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.show-content {
  line-height: 1em;
  height: auto;
}

.note {
  font-size: 2.4vh; 
  color: #0f0f11; 
  word-break: break-all;
}

.read-more {
  color: #3b84b0;
}

.test {
  position: relative;
  border: 1vw solid;
  left: 0rem;
  border-color: #eff2f7 transparent transparent transparent;
  width: 0;
  height: 0;
  top: -17rem;
}